//
// Components / Article Text
// Note: Taken from learn.microblocks.fun .wysiwyg component
//
// Basically changes at the breakpoint "LG", increasing base text size
// ================================================================================


.article-text {


  // Main headings
  h2 {
    margin-bottom: $space-150;

    font-family: $font-display;
    font-weight: 700;
    font-size: $fontSize-200;
    line-height: $lineHeight-120;
    color: $color-purple;
    letter-spacing: -0.025em;

    &:not(:first-child) {
      margin-top: $space-250;

      @include breakpoint(lg) {
        margin-top: $space-300;
      }
    }
  }


  // Secondary headings
  h3 {
    margin-top: $space-250;
    margin-bottom: $space-150;

    font-family: $font-display;
    font-weight: 700;
    font-size: $fontSize-150;
    line-height: $lineHeight-120;
    color: $color-grey-900;
    letter-spacing: -0.025em;

    @include breakpoint(lg) {
      margin-top: $space-300;
    }
  }


  h2 + h3 {
    margin-top: $space-200;

    @include breakpoint(lg) {
      margin-top: $space-200;
    }
  }


  // Paragraph
  p {
    margin-bottom: $space-150;
    line-height: $lineHeight-150;
    color: $color-grey-900;

    strong {
      font-weight: 700;
    }

    @include breakpoint(lg) {
      font-size: $fontSize-125;
      margin-bottom: $space-200;
    }

    &:empty {
      display: none; // Markdown typical mistake
    }
  }


  // Anchor
  a:not(.button) {
    text-decoration: underline;
    color: $color-blue;
    transition: color $trans-0200 $trans-easing;

    &:not(.btn):hover {
      color: $color-grey-900;
    }
  }


  // Image
  p img {
    max-width: 100%;
  }


  // Image w Script
  p.script {
    display: block;
    width: max-content;
    position: relative;
    margin-bottom: $space-300;

    background-color: $color-script-pane;
    border: none;
    border-radius: $borderRadius-025;
    line-height: 0;

    padding: $space-100 $space-100 $space-075 $space-100;

    img {
      margin: 0;

      transition: opacity $trans-0200 $trans-easing;

      &:hover {
        opacity: 0.75;
        cursor: grab;
      }

      & + img {
        margin-left: $space-100;
      }
    }

    &::after {

      // only makes sense in computers, but
      // it is used at half screen size
      @include breakpoint(sm) {
        content: 'Drag to MicroBlocks';

        display: block;
        position: absolute;
        min-width: max-content;
        bottom: calc( #{$space-125} * -1 );
        left: $space-025;

        font-family: $font-display;
        font-size: $fontSize-087;
        line-height: $lineHeight-100;
        color: $color-grey-400;

        transition: color $trans-0200 $trans-easing;

        // Translations
        html[lang="ca"] & { content: 'Arrossega a MicroBlocks'; }
        html[lang="cn"] & { content: '拖到 MicroBlocks'; }
        html[lang="es"] & { content: 'Arrastra a MicroBlocks'; }
      }
    }

    &:hover {

      &::after {
        color: $color-grey-900;
      }
    }
  }


  // Caption
  // weird hack: https://www.reddit.com/r/Frontend/comments/svll3v/stupid_problem_div_with_two_child_and_the_second/
  .captioned {
    margin-bottom: $space-150; // p like
    width: min-content;
    line-height: 0;

    img {
      // max-width: 100%; breaks it...
      // adding container size manually...
      max-width: Min(640px, calc( 100vw - 32px ));

      @include breakpoint(md) {
        max-width: Min(672px, 100vw);
      }

      @include breakpoint(lg) {
        max-width: Min(624px, 100vw);
      }

      @include breakpoint(xl) {
        max-width: Min(757px, 100vw);
      }

      @include breakpoint(xxl) {
        max-width: Min(821px, 100vw);
      }
    }

    .caption {
      display: block;
      padding: $space-050 $space-100 $space-050 $space-075;

      background-color: $color-grey-200;
      font-size: $fontSize-075;
      line-height: $lineHeight-150;
    }
  }


  // Code
  p code {
    display: inline;
    padding-right: $space-025;
    padding-left: $space-025;
    border-radius: $borderRadius-025;

    font-family: $font-display;
    font-weight: 500;
    background-color: $color-script-pane;
  }


  // Video
  video {
    width: 100%;
    margin-bottom: $space-150;
  }





  // Lists
  // ========================================


  ul {
    margin-bottom: $space-150;
    padding-left: $space-100;
    list-style-type: disc;
  }


  ol {
    margin-bottom: $space-150;
    padding-left: $space-100;
    list-style-type: decimal;
  }


  li {
    margin-bottom: $space-050;
    line-height: $lineHeight-150;

    &::marker {
      color: $color-purple;
    }

    @include breakpoint(lg) {
      font-size: $fontSize-125;
      margin-bottom: $space-100;
    }
  }





  // Tables
  // https://codepen.io/lukepeters/pen/JjoVWd
  // ========================================

  table {
    margin-bottom: $space-150;
    border-collapse: collapse;
  }

  table thead tr {
    background-color: $color-yellow;
    border: 1px solid $color-yellow-dark;
    text-align: left;
  }

  table th,
  table td {
    padding: $space-075;
  }

  table tbody tr {
    border-right: 1px solid $color-grey-400;
    border-bottom: 1px solid $color-grey-400;
    border-left: 1px solid $color-grey-400;
  }

  table tbody tr:nth-of-type(even) {
    background-color: $color-grey-200;
  }


  // Exceptions
  // ========================================


  &--small {
    font-size: $fontSize-087;
    margin-bottom: $space-100;
  }


  &--large {

    @include breakpoint(lg) {
      font-size: $fontSize-125;

      p:not(:last-of-type) {
        margin-bottom: $space-125;
      }
    }
  }





  // Tips and Facts
  // ========================================


  .fact,
  .note,
  .safety {
    position: relative;
    display: block;
    margin: $space-300 0 $space-175;
    padding: $space-200 $space-100 $space-100 $space-100;

    border-radius: $borderRadius-025;
    line-height: $lineHeight-150;

    &::after {
      content: '';

      display: block;
      height: $space-300;
      width: $space-300;

      position: absolute;
      top: calc( #{$space-150} * -1);
      right: $space-100;
      z-index: $zindex-below;

      border-radius: $borderRadius-max;
      background-repeat: no-repeat;
      background-position: center center;
    }

    @include breakpoint(lg) {
      padding: $space-200;
      font-size: $fontSize-125;
      margin-bottom: $space-200;
    }


    // Elements


    h4 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: $fontSize-100;
      font-weight: 400;
      text-transform: uppercase;
    }

    h3 {
      margin-top: 0;
      font-size: $fontSize-150;
      color: $color-grey-900;
      margin-bottom: $space-200;
    }

    h4 + p {
      margin-top: $space-200;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }


  .fact {
    color: $color-blue-dark;
    background-color: rgba($color-blue, 0.1);

    h4,
    a:link,
    a:visited {
      color: $color-blue;
    }

    &::after {
      background-color: $color-blue;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.5 1V2.25H5.625V6.625C5.625 9.04125 7.58375 11 10 11C12.4162 11 14.375 9.04125 14.375 6.625V2.25H17.5V1H2.5ZM6.875 2.25H13.125V4.125H6.875V2.25ZM6.875 6.625C6.875 8.35089 8.27411 9.75 10 9.75C11.7259 9.75 13.125 8.35089 13.125 6.625V5.375H6.875V6.625ZM16.25 18.75H15V16.875C14.9979 15.15 13.6 13.7521 11.875 13.75H8.125C6.39997 13.7521 5.00207 15.15 5 16.875V18.75H3.75V16.875C3.75276 14.4599 5.7099 12.5028 8.125 12.5H11.875C14.2901 12.5028 16.2472 14.4599 16.25 16.875V18.75ZM2.5 4.375C2.5 4.02982 2.77982 3.75 3.125 3.75C3.47018 3.75 3.75 4.02982 3.75 4.375V10H2.5V4.375Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }


  .note {
    color: $color-green-dark;
    background-color: rgba($color-green, 0.1);

    h4,
    a:link,
    a:visited {
      color: $color-green;
    }

    &::after {
      background-color: $color-green;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 15C11.7549 14.997 13.3797 14.0743 14.2812 12.5688L13.2125 11.9438C12.5341 13.0703 11.3151 13.7592 10 13.7592C8.68491 13.7592 7.46592 13.0703 6.7875 11.9438L5.71875 12.5688C6.6203 14.0743 8.24515 14.997 10 15ZM10 1.25C5.16751 1.25 1.25 5.16751 1.25 10C1.25 14.8325 5.16751 18.75 10 18.75C14.8325 18.75 18.75 14.8325 18.75 10C18.75 7.67936 17.8281 5.45376 16.1872 3.81282C14.5462 2.17187 12.3206 1.25 10 1.25ZM10 2.5C12.9283 2.50457 15.5861 4.213 16.8063 6.875H15.625C15.625 6.52982 15.3452 6.25 15 6.25H5C4.65482 6.25 4.375 6.52982 4.375 6.875H3.19375C4.41387 4.213 7.07171 2.50457 10 2.5ZM2.5 10C2.5 14.1421 5.85786 17.5 10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.4971 9.36689 17.4131 8.73676 17.25 8.125H15.625V9.375C15.625 10.0654 15.0654 10.625 14.375 10.625H12.325C11.7078 10.6335 11.1768 10.1901 11.075 9.58125L10.7312 7.5H9.26875L8.94375 9.58125C8.84196 10.1901 8.31098 10.6335 7.69375 10.625H5.625C4.93464 10.625 4.375 10.0654 4.375 9.375V8.125H2.75C2.58693 8.73676 2.50292 9.36689 2.5 10Z' fill='%23FCFCFC'/%3E%3C/svg%3E%0A");
    }
  }


  .safety {
    color: $color-red-dark;
    background-color: rgba($color-red, 0.1);

    h4,
    a:link,
    a:visited {
      color: $color-red;
    }

    &::after {
      background-color: $color-red;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.93685 18H18.1868C18.4053 18.0004 18.6081 17.8868 18.7218 17.7003C18.8355 17.5138 18.8436 17.2814 18.7431 17.0875L10.6181 1.46246C10.5112 1.25373 10.2964 1.12244 10.0618 1.12244C9.82732 1.12244 9.61253 1.25373 9.5056 1.46246L1.3806 17.0875C1.28012 17.2814 1.28819 17.5138 1.40189 17.7003C1.51558 17.8868 1.71841 18.0004 1.93685 18ZM17.1556 16.75H2.9681L10.0618 3.10621L17.1556 16.75ZM10 13.75C9.48223 13.75 9.0625 14.1697 9.0625 14.6875C9.0625 15.2053 9.48223 15.625 10 15.625C10.5178 15.625 10.9375 15.2053 10.9375 14.6875C10.9375 14.1697 10.5178 13.75 10 13.75ZM10.625 6.875H9.375V12.5H10.625V6.875Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }





  // HR
  // ========================================

  hr {
    margin-top: $space-300;
    margin-bottom: $space-600;
    // height: 1px;
    color: $color-grey-50;
    background-color: $color-grey-300;
  }

}
