// ==========================================================================
// Layout / Footer
// ==========================================================================



.footer {
  padding: 48px 0 24px 0;
  background-color: $color-grey-900;

  color: $color-grey-400;
  font-size: 14px;
  line-height: 1.2rem;


  h3 {
    margin-bottom: 12px;
    @include font-display-bold;
    font-size: 24px;
    color: $color-white;
  }

  p {
    margin-bottom: 12px;
    line-height: 1.4;

    a:link,
    a:visited {
      color: $color-grey-400;
      text-decoration: underline;
      transition: color 0.3s ease-out;
    }

    a:hover,
    a:focus-visible {
      color: $color-yellow;
    }
  }
}



// Contents
// ==========================================================================


.footer__content {
  margin-bottom: 40px;
}


.footer__col {
  margin-bottom: 32px;
}



// Logo
// ==========================================================================


.footer__logo {
  display: block;
  width: 200px;

  @include breakpoint(lg) {
    width: 240px;
    transform: translateY(-23px); // Align logo to titles
  }
}




// Logo
// ==========================================================================

.footer__link-list-item {

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
