// ==========================================================================
// Components / Logos Grid
// ==========================================================================


.logo-grid__item {
    display: block;
    padding: 20px 20px;

    background-color: $color-white;
    @include shadow-tight;

    &:hover {
        .logo-grid__logo {
            opacity: 50%;
        }
    }

    @include focus-visible-large;
}


.logo-grid__logo {
    @include ratio-image(16,9,contain);
    transition: opacity 0.2s ease-out;
}
