<!DOCTYPE html>
<html lang="en" class="no-js">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ title }} - MicroBlocks</title>

    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>

    <link href="/main.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//assets/css/print.css" media="print"> -->
    <script src="/main.js" type="text/javascript"></script>

    <meta name="description" content="{{#if pageDescription}}{{ pageDescription }}{{else}} MicroBlocks is a blocks programming language for physical computing inspired by Scratch.{{/if}}">
    <link rel="canonical" href="/{{#if pageUrl}}{{ pageUrl }}{{else}}https://wwww.microblocks.fun/{{/if}}">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{#if pageDescription}}{{ pageDescription }}{{else}} MicroBlocks is a blocks programming language for physical computing inspired by Scratch.{{/if}}">
    <meta property="og:image" content="{{#if opengraphPicture}}{{ opengraphPicture }}{{else}}/assets/img/opengraph/microblocks.png{{/if}}">
    <meta property="og:image:alt" content="Microblocks logo and a leds board shawing a smiley">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{#if pageUrl}}{{ pageUrl }}{{else}}https://wwww.microblocks.fun/{{/if}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@microblocksfun">
    <meta name="twitter:creator" content="@microblocksfun">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//microblocks.fun/matomo/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->

  </head>

  <body>

    <div class="page {{ pageClass }}">

        {{> _header }}

      <main class="main">
          {{#> main-content }}
                {{! Page contents will end up here }}
          {{/main-content }}
      </main>

      {{> _footer }}

    </div>
    {{#if livereload}}
    <script>
        console.log('live reload enabled');
        var ws = new WebSocket(`ws://${location.hostname}:8080`);
        ws.onmessage = function (msg) {
            if (msg.data === 'reload') {
                location.reload();
            } else {
                console.log(msg.data);
            }
        };
    </script>
    {{/if}}
  </body>

</html>
