<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M4.4 5h11.2c.77 0 1.4.574 1.4 1.275v7.65c0 .701-.63 1.275-1.4 1.275H4.4c-.77 0-1.4-.574-1.4-1.275l.007-7.65C3.007 5.574 3.63 5 4.4 5zm5.6 5.739l5.6-3.188V6.276L10 9.464 4.4 6.276v1.275L10 10.74z" fill="currentColor"/>
</svg>
