{{! Blog }}

{{#> layouts._html-shell
    pageClass="page-article"
    pageUrl="https://wwww.microblocks.fun/article"
    _pageDescription="Article template."
    opengraphPicture="thumbnail.jpg"
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="page-article__header hero-yellow">
    <div class="container">
        <div class="row">

            <!-- Picture -->
            <div class="col col-12 col-lg-5 offset-lg-1">
                <div class="page-article__picture">
                    <picture class="page-article__picture-img">
                        <img src="thumbnail.jpg" alt="{{title}}" />
                    </picture>
{{#if thumbnail-copyright}}
                    <div class="page-article__picture-copyright">
                        {{thumbnail-copyright}}
                    </div>
{{/if}}
                </div>
            </div>

        <!-- Header Text -->
            <div class="col col-12 col-lg-5">
                <div class="page-article__header-text">

{{#if publication-date}}
                    <time class="page-article__date" datetime="{{publication-date}}" pubdate="pubdate">{{ date-string publication-date }}</time>
{{/if}}
                    <h1 class="page-article__title">{{ title }}</h3>
                    <div class="page-article__details">
{{#if author}}
                        <address class="page-article__credits">
                            by <a href="{{author-link}}" class="page-article__author">{{author}}</a>{{#if organization}}, <a href="{{organization-link}}" class="page-article__organisation">{{organization}}</a>{{/if}}
                        </address>
{{/if}}
{{#if last-update}}
                        <p class="page-article__update">
                            Latest update: <span>{{ date-string last-update }}</span>
                        </p>
{{/if}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
<!-- Header -->


<!-- Contents -->
<div class="main__contents">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 offset-lg-2">
                <div class="article-text">
{{#markdown}}{{/markdown}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contents -->

{{/inline}}
{{/layouts._html-shell}}
