// ==========================================================================
// Tools / Font Faces
// ==========================================================================



// Space Grotesk
// ==========================================================================

@font-face {
    font-family: "Space Grotesk";
    src: url("assets/fonts/SpaceGrotesk-Light.woff2") format("woff2"),
         url("assets/fonts/SpaceGrotesk-Light.ttf") format("truetype"),
         url("assets/fonts/SpaceGrotesk-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("assets/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
         url("assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype"),
         url("assets/fonts/SpaceGrotesk-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("assets/fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
         url("assets/fonts/SpaceGrotesk-Bold.ttf") format("truetype"),
         url("assets/fonts/SpaceGrotesk-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}



// Inter
// ==========================================================================

@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-Regular.woff2") format("woff2"),
         url("assets/fonts/Inter-Regular.woff") format("woff"),
         url("assets/fonts/Inter-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-Bold.woff2") format("woff2"),
         url("assets/fonts/Inter-Bold.woff") format("woff"),
         url("assets/fonts/Inter-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}



// Sass Vars
// ==========================================================================

$font-display: "Space Grotesk", Helvetica, Arial, sans-serif;
$font-regular: "Inter", Helvetica, Arial, sans-serif;



// Mixins
// ==========================================================================

@mixin font-display-light {
    font-family: $font-display;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.025em;
}

@mixin font-display-regular {
    font-family: $font-display;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.025em;
}

@mixin font-display-bold {
    font-family: $font-display;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.025em;
}

@mixin font-regular {
    font-family: $font-regular;
    font-weight: 400;
    font-style: normal;
}

@mixin font-regular-bold {
    font-family: $font-regular;
    font-weight: 700;
    font-style: normal;
}
